/****************************************
 * General styles
 ****************************************/

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid gray;
}

h2 {
    font-weight: bold;
    color: #0E3062;
}

h3 {
    color: gray;
    font-weight: normal;
    font-variant: small-caps;
}

a {
    color: #336699;
}

a:hover {
    background-color: #336699;
    color: white;
}

/****************************************
 * Common elements
 ****************************************/

.clear {
    clear: both;
}

div.method {
    margin-bottom: 5px;
}

/********** Method docs **********/
/* Harmony notes for changes:
 * The public and protected class methods’
 * headers share the same foreground colour.
 * Same goes (with another colour) for the
 * public and protected instance methods.
 * The private methods are usually not
 * documented, but if they are, they are
 * mostly coloured invertedly, with an extreme
 * foreground colour in the header. */

/* Common for all method headers */
div.method div.header {
    padding-left: 4px;
    padding-right: 4px;
    font-family: monospace;
    font-size: 120%;
    font-weight: bold;
}

/* Common for all method descriptions */
div.method div.description {
    padding-left: 4px;
    padding-right: 4px;
}

div.method-public-class {
    border: 1px solid gray;
    background-color: #FFFFD2;
}

div.method-public-class div.header {
    border-bottom: 1px solid gray;
    background-color: #EEEEEE;
}

div.method-protected-class {
    border: 1px solid #005B10;
    background-color: #DDFFDD;
}

div.method-protected-class div.header {
    border-bottom: 1px solid #005B10;
    background-color: #7FD58E;
}

div.method-private-class {
    border: 1px solid green;
    background-color: black;
    color: white;
}

div.method-private-class div.header {
    border-bottom: 1px solid #00FF00;
    background-color: #333333;
    color: #00FF00;
}

div.method-public-instance {
    border: 1px solid blue;
    background-color: #EEEEEE;
}

div.method-public-instance div.header {
    border-bottom: 1px solid blue;
    background-color: #336699;
    color: white;
}

div.method-protected-instance {
    border: 1px solid black;
    background-color: #DDDDFF;
}

div.method-protected-instance div.header {
    border-bottom: 1px solid black;
    background-color: #888888;
    color: white;
}

div.method-private-instance {
    border: 1px solid yellow;
    background-color: black;
    color: white;
}

div.method-private-instance div.header {
    border-bottom: 1px solid yellow;
    background-color: #333333;
    color: yellow;
}


/********** Indices **********/

div.index {
    overflow: hidden;
}

div.index ul {
    list-style-type: none;
    padding-left: 0px;
}

div.index ul li {
    font-size: small;
}

div.index-header {
    border: 1px solid #0E3062;
    background-color: #336699;
    color: white;
    font-size: 1.5em;
    font-variant: small-caps;
    text-align: center;
}

div.index-header p {
    margin: 0px;
}

/********** Class/Module docs **********/

p.toplevel-name {
    float: right;
    font-size: small;
    text-align: right;
    color: gray;
}

h1.class {
    border: none;
    margin-bottom: 0px;
}

p.superclass {
    margin-top: 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
    font-size: small;
    color: gray;
}

span.classmod-leader {
    font-size: 80%;
    font-variant: small-caps;
    color: gray;
}

/********** Constants docs **********/

table.constants {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}

table.constants td, table.constants th {
    border: 1px solid gray;
}

table.constants th {
    background-color: #EEEEEE;
}

/********** Sourcecode listings **********/

p.show-source {
    font-style: italic;
}

pre.source {
    border: 1px solid black;
    background-color: white;
    color: black;
}

span.ruby-keyword {
    color: blue;
    font-weight: bold;
}

span.ruby-ivar {
    color: #000075;
}

span.ruby-constant {
    color: #930093;
}

span.ruby-comment {
    color: #006C0D;
}

span.ruby-regexp {
    background-color: #006C0D;
    color: white;
}

span.ruby-string {
    background-color: #FFCDB3;
    color: #FF5500;
}

/****************************************
 * Unique elements
 ****************************************/

div#indices {
    float: left;
    width: 19%; /* Some space */
}

div#content {
    float: right;
    width: 79%; /* Some space */
    border-left: 2px dashed gray;
    padding-left: 10px;
}

div#footer {
    border-top: 1px solid gray;
    font-size: small;
    color: gray;
}