<p class="toplevel-name"><%= toplevel.full_name %></p>

<%= toplevel.description %>

<% if @options.generate_toc %>

  <script type="text/javascript">
    html = "<div class=\"toc\"><p>Contents</p>";
    html += generate_toc();
    html += "</div>";

    $(html).insertAfter("h1");
  </script>
<% end %>
