// Mixins

/**
 * The general layout for method documentations. It
 * formats a header and a description with borders all
 * around it. Fore- and background colours are chosen
 * by you. */
@mixin method-docs($border-color, $head-fg-color, $head-bg-color, $desc-fg-color, $desc-bg-color) {
    $border: 1px solid $border-color;
    border: $border;
    background-color: $desc-bg-color; // Overridden for the header

    div.header {
        border-bottom: $border;
        background-color: $head-bg-color;
        color: $head-fg-color;
    }

    div.description { color: $desc-fg-color; }
}

/**
 * Heading mixins used for relative headings.
 */
$heading-color: #0E3062; // Colour used for some headings

@mixin relative-heading($border, $color, $f-family, $f-variant, $f-weight) {
    border-bottom: $border;
    color: $color;
    font: {
        family: $f-family;
        variant: $f-variant;
        weight: $f-weight;
    }
}

@mixin h1 { @include relative-heading(1px solid gray, black, serif, normal, normal); }
@mixin h2 { @include relative-heading(1px dotted $heading-color, $heading-color, serif, normal, bold); }
@mixin h3 { @include relative-heading(none, gray, serif, small-caps, normal); }
@mixin h4 { @include relative-heading(none, $heading-color, sans-serif, normal, bold); }
@mixin h5 { @include relative-heading(none, black, sans-serif, normal, bold); }
@mixin h6 { @include relative-heading(none, black, sans-serif, normal, normal); }

/**
 * Everything that is somehow ToC-like includes
 * this mixin. */
@mixin toc {
    float: right;
    width: 25%;
    overflow: hidden;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid gray;
    background-color: #EEEEEE;

    p {
        margin: 10px 0px 0px 0px;
        font-size: 120%;
        font-variant: small-caps;
        color: gray;
        text-align: center;
    }
}

/****************************************
 * General styles
 ****************************************/
body {
    background-color: #FEFEFE;
    font-family: serif;
}

// Default heading styles. Overriden for relative headings.
h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

a {
    color: #336699;

    &:hover {
        background-color: #336699;
        color: white;
    }
}

dl {
    border: 1px solid gray;

    dt {
        color: white;
        background-color: gray;
    }
}

/****************************************
 * Common elements
 ****************************************/

.clear {
    clear: both;
}

/* The ¶ signs on headings */
a.para {
    text-decoration: none;
    color: gray;

    &:hover {
        background: none;
        color: gray;
    }
}

/* These spans are created by the search field */
span.search-result {
    background-color: yellow;
}

/********** Method docs **********/

// Common stuff for all methods
div.method {
    margin-bottom: 5px;

    /* Shift headings down by 1, so that a level-2
     * heading effectively becomes a level-3 one. */
    h1 { @include h2; } // Shame on those guys using a level-1 heading in a method!
    h2 { @include h3; font-size: 120%}
    h3 { @include h4; }
    h4 { @include h5; }
    h5 { @include h6; }
    // Don’t care about level-6 and deeper...

    // Common stuff for all method headers
    div.header {
        padding-left: 4px;
        padding-right: 4px;
        font: {
            family: monospace;
            size: 120%;
            weight: bold;
        }
    }

    // Common stuff for all method descriptions
    div.description {
        padding-left: 4px;
        padding-right: 4px;
    }
}

// Class methods (note same fg colour for public/protected headers)
div.public-class    { @include method-docs(gray, black, #EEEEEE, black, #FFFFD2); }
div.protected-class { @include method-docs(#005B10, black, #7FD58E, black, #DDFFDD); }
div.private-class   { @include method-docs(#00FF00, #00FF00, #333333, white, black); }

// Instance methods (note same fg colour for public/protected headers)
div.public-instance    { @include method-docs(blue, white, #336699, black, #EEEEEE); }
div.protected-instance { @include method-docs(black, white, #888888, black, #DDDDFF); }
div.private-instance   { @include method-docs(yellow, yellow, #333333, white, black); }

/********** Indices **********/

div.index {
    height: 33%;

    div.list {
        height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    // Remove indentation for the indexed items
    ul {
        list-style-type: none;
        padding-left: 0px;
        margin: 4px 0px 0px 0px;

        // Long names should be shown as far as possible
        li { font-size: small; }
    }

    // Index captions
    div.header {
        display: table; /* Needed for vertically centering the text in it, see <p> style below */
        width: 100%;
        height: 20%;
        border: 1px solid #0E3062;
        background-color: #336699;
        color: white;
        text-align: center;
        font: {
            size: 1.5em;
            variant: small-caps;
        }

        // Remove paragraph margins for more text space
        p { margin: 0px; display: table-cell; vertical-align: middle; }
    }
}

span.method-classname {
    color: gray;
}

/********** Toplevel docs **********/

p.toplevel-name {
    float: right;
    font-size: small;
    text-align: right;
    color: gray;
}

div.toc {
    @include toc;

    ul {
        list-style-type: none;
        padding-left: 20px;
    }
}

/********** Class/Module docs **********/

h1.classmodule {
    border: none;
    margin-bottom: 0px;

    span.leader {
        font-size: 80%;
        font-variant: small-caps;
        color: gray;
    }
}

h1.module {
    border-bottom: 1px solid gray;
}

p.superclass {
    margin-top: 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
    font-size: small;
    color: gray;
}

div.method-overview {
    @include toc;

    ul {
        list-style-type: none;
        padding-left: 10px;
    }

}

/********** Constants docs **********/

table.constants {
    $border: 1px solid gray;

    width: 100%;
    border-collapse: collapse;
    border: $border;

    td { border: $border; }
    th {
        border: $border;
        background-color: #EEEEEE;
    }
}

/********** Attribute docs **********/

ul.attribute-list {
    list-style-image: url("images/tag_blue.png");
    strong { color: #336699; }
}

/********** Sourcecode listings **********/

p.show-source {
    font-style: italic;
}

pre {
    overflow-x: auto;
    border: 1px solid gray;
    padding: 4px;
    background-color: #222222;
    color: white;
}

pre.ruby {
    span {
        &.ruby-keyword {
            color: #00CCCC;
            font-weight: bold;
        }

        &.ruby-regexp {
            background-color: #006C0D;
            color: #222222;
        }

        &.ruby-string {
            color: #FF5500;
        }

        &.ruby-ivar     { color: #4444C8; }
        &.ruby-constant { color: #AA00AA; }
        &.ruby-comment  { color: #008E2F; }
    }
}

/****************************************
 * Unique elements
 ****************************************/

div#sidebar {
    position: fixed;
    top: 4px;
    left: 4px;
    width: 19%; /* Some space */
    height: 95%; /* This is adjusted by JavaScript */
    padding-right: 8px;
    overflow: hidden;
    border-right: 2px dashed gray;

    form#search {
        height: 5%;

        p {
            margin: 0px 0px 2px 0px;

            input {
                width: 100%;
            }
        }
    }

    div#indices {
        height: 95%;
    }
}

div#content {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 78.5%; /* Some space */
    padding-left: 10px;
}

div#footer {
    border-top: 1px solid gray;
    font-size: small;
    color: gray;
}
